
{% extends "base.html" %}
{% block content %}
<div class="main-content-container container-fluid px-4">
                <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <h3 class="page-title">Запросы</h3>
              </div>
            </div>
            <!-- End Page Header -->
    <div class="row">
        {% for problem in problems %}
        <div class="col-md-4" style="margin-bottom: 40px;">
            <div class="card">

                  <!-- Card image -->
                  <img class="card-img-top" src="{{problem.Image}}" height="400px">

                  <!-- Card content -->
                  <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><a>{{problem.Profile.Adress}}</a></h4>
                    <p class="card-text">Специалист:{{problem.Specialist}}</p>
                    <!-- Text -->
                    <p class="card-text">{{problem.Text}}</p>
                    <!-- Button -->
                    <a href="#" class="btn btn-primary">Подробно</a>

                  </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}