
{% extends "base.html" %}
{% block content %}
<div class="main-content-container container-fluid px-4">
                <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <h3 class="page-title">Пользователи</h3>
              </div>
            </div>
            <!-- End Page Header -->
    <div class="row">
      <div class="col">
        <div class="card card-small mb-4">
          <div class="card-header border-bottom">
            <h6 class="m-0"><td><i class="material-icons">plus</i></td></h6>
          </div>
          <div class="card-body p-0 pb-3 text-center">
            <table class="table mb-0">
              <thead class="bg-light">
                <tr>
                  <th scope="col" class="border-0">Фамилия</th>
                  <th scope="col" class="border-0">Имя</th>
                  <th scope="col" class="border-0">Отчество</th>
                  <th scope="col" class="border-0">Телефон</th>
                  <th scope="col" class="border-0">Адрес</th>
                  <th scope="col" class="border-0">Подтверждение</th>
                </tr>
              </thead>
              <tbody>
              {% for profile in profiles %}
                <tr>
                  <td>{{profile.LastName}}</td>
                  <td>{{profile.FirstName}}</td>
                  <td>{{profile.FatherName}}</td>
                  <td>{{profile.Phone}}</td>
                  <td>{{profile.Adress}}</td>
                    {% if profile.IsActive %}
                        <td><i class="material-icons">check</i></td>
                    {% else %}
                        <td><i class="material-icons">close</i></td>
                    {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}